body{
  height: 100%;
  display: flex;
  width:100%;
}

div{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 15%;
    padding-bottom: 15%;
    img{
      height: 15%;
      width: 15%;
    }
}

.center{
  justify-content: center;
}

.nextto {
  display: inline-flex;
  margin-top: 15%;
  gap: 15%;
}

h1 {
  font-size: 370%;
  padding-top: 5%;
  color: rgb(53, 9, 49);
}

h1:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

img:hover{
 /*  transform: scale(1.5); */
  content: '..';
}

h1:hover::after{
  content: ' ';
}


.image1{
    position: relative;
}

.short {
  background-color: rgb(237, 185, 185);
  transition: all 0.5s 0s ease-in;
}

.long {
  background-color: rgb(217, 224, 233);
  transition: all 1s 0s ease-in;
}

.rotate {
    animation: rotation 3s  linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }



 



